<template>
  <div >
    APP
  </div>
</template>

<script>

module.exports =  {
    //name: 'app',
    // Assets
    components: {
      //'teste'  : httpVueLoader('components/Teste.vue'),
    },
    directives: {},
    filters: {},
    // Composition
    mixins: [],
    extends: {},
    provide: {},
    inject: {},
    template: {},
    props: [],
    // propsData: {},
    data () {
      return {
        loading: false,
        falhou: false,
        respondeu: false,
        invalidou: false,
        montado: false,
        mensagem : 'Aguarde... (Token ' + this.$route.params.token + ')'
      }
    },
    computed: { },
    watch: {},
    // Lifecycle Hooks
    beforeCreate () {},
    created () {},
    beforeMount () {},
    mounted () {
      // this.verifica()
      // this.montado = true
    },
    beforeUpdate () {},
    updated () {},
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    methods: { },
    // render: {},
    renderError: {}

}
</script>

<style>
  #app {
    text-align: center;
    margin-top: 60px;
  }
</style>
