<template>
  <div class="main-body" id="dashboard">

    <!-- Page -->
    <div class="page">

      <!-- Loader -->
      <div id="global-loader">
        <img src="./assets/img/loader.svg" class="loader-img" alt="Loader" />
      </div>
      <!-- /Loader -->
  
      <keep-alive>
      	<main-header/>
      </keep-alive>
  
      <!--keep-alive>
      	<async-component><async-component/>
      </keep-alive-->

      <!-- main-content opened -->
      <div class="main-content horizontal-content">
        <!-- container opened -->
        <div class="container">

          <!--router-view /-->
          
          <!--crud /-->
          <configuracoes />

        </div>
      </div>
      <!-- Container closed -->

      <!-- Footer opened -->
      <div class="main-footer ht-40">
        <div class="container-fluid pd-t-0-f ht-100p">
          <span
            >Copyright © 2020 <a href="#">Valex</a>. Designed by
            <a href="https://www.spruko.com/">Spruko</a> All rights
            reserved.</span
          >
        </div>
      </div>
      <!-- Footer closed -->

    </div>
    <!-- End Page -->

  </div>
</template>

<script>

Vue.component('main-header', function (resolve, reject){
	vue.$http.get('tema_valex/main_header.html')
	.then(response => {
		resolve({
            template: '<div>' + response.body + '</div>'
		});
    }, response => {
        // error callback
    });
});

Vue.component('async-component', function (resolve, reject){
	vue.$http.get('tema_valex/conf_parametros.html')
	.then(response => {
		resolve({
            template: '<div>' + response.body + '</div>'
		});
    }, response => {
        // error callback
    });
});

module.exports =  {
    name: 'dashboard',
    // Assets
    components: {
      'crud' :          httpVueLoader('components/Crud.vue'),
      'configuracoes' : httpVueLoader('components/Configuracoes.vue'),
    },
    directives: {},
    filters: {},
    // Composition
    mixins: [],
    extends: {},
    provide: {},
    inject: {},
    template: {},
    props: [],
    // propsData: {},
    data () {
      return {
        activeTab: 'Teste1',
      }
    },
        head:{
          script: [
            // { type: 'text/javascript', src: './assets/plugins/jquery/jquery.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/bootstrap/js/bootstrap.bundle.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/ionicons/ionicons.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/moment/moment.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jquery-sparkline/jquery.sparkline.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/raphael/raphael.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/peity/jquery.peity.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jquery.flot/jquery.flot.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jquery.flot/jquery.flot.pie.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jquery.flot/jquery.flot.resize.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jquery.flot/jquery.flot.categories.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/rating/jquery.rating-stars.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/rating/jquery.barrating.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/perfect-scrollbar/p-scroll.js', async: true, body: true},

                // { type: 'text/javascript', src: './assets/plugins/sidebar/sidebar.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/plugins/sidebar/sidebar-custom.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/js/eva-icons.min.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/js/apexcharts.js', async: true, body: true},
            
            // { type: 'text/javascript', src: './assets/plugins/horizontal-menu/horizontal-menu-2/horizontal-menu.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jqvmap/jquery.vmap.min.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/jqvmap/maps/jquery.vmap.usa.js', async: true, body: true},
            // { type: 'text/javascript', src: './assets/plugins/chart.js/Chart.bundle.min.js', async: true, body: true},

                // { type: 'text/javascript', src: './assets/js/dashboard.sampledata.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/js/chart.flot.sampledata.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/js/sticky.js', async: true, body: true},
            { type: 'text/javascript', src: './assets/js/index.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/js/jquery.vmap.sampledata.js', async: true, body: true},
            { type: 'text/javascript', src: './assets/js/custom.js', async: true, body: true},
                // { type: 'text/javascript', src: './assets/js/jquery.vmap.sampledata.js', async: true, body: true},
          ]
        },

    computed: {},
    watch: {},
    // Lifecycle Hooks
    beforeCreate () {},
    created () {},
    beforeMount () {},
    mounted () {
      //this.$forceUpdate();
    },
    beforeUpdate () {},
    updated () { },
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    methods: {},
    // render: {},
    // renderError: {}

}
</script>

<style>
	@import './assets/css/icons.css';
	@import './assets/plugins/mscrollbar/jquery.mCustomScrollbar.css';
	@import './assets/plugins/sidebar/sidebar.css';
	@import './assets/plugins/morris.js/morris.css';
	@import './assets/css/style.css';
	@import './assets/css/skin-modes.css';
</style>
