<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--link rel="icon" href="<%= BASE_URL %>favicon.ico"-->
    <title>Titulo cNotas</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <link
      rel="icon"
      href="./assets/img/brand/favicon.png"
      type="image/x-icon"
    />

    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/vue-plugin-load-script"></script-->
    <script src="https://cdn.rawgit.com/ktquez/vue-head/master/vue-head.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.3.4/dist/vue-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/md5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-tables-2/2.0.15/vue-tables-2.min.js"></script>
    <script src="https://unpkg.com/vue-nav-tabs/dist/vue-tabs.js"></script>

    <!-- JQuery min js -->
    <script src="./assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="./assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Ionicons js -->
    <script src="./assets/plugins/ionicons/ionicons.js"></script>

    <!-- Moment js -->
    <script src="./assets/plugins/moment/moment.js"></script>

    <!--Internal Sparkline js -->
    <script src="./assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!-- Moment js -->
    <script src="./assets/plugins/raphael/raphael.min.js"></script>

    <!-- Internal Piety js -->
    <script src="./assets/plugins/peity/jquery.peity.min.js"></script>

    <!--Internal  Flot js-->
    <script src="./assets/plugins/jquery.flot/jquery.flot.js"></script>
    <script src="./assets/plugins/jquery.flot/jquery.flot.pie.js"></script>
    <script src="./assets/plugins/jquery.flot/jquery.flot.resize.js"></script>
    <script src="./assets/plugins/jquery.flot/jquery.flot.categories.js"></script>
    <!--script src="./assets/js/dashboard.sampledata.js"></script>
		<script src="./assets/js/chart.flot.sampledata.js"></script-->

    <!-- Sticky js -->
    <!--script src="./assets/js/sticky.js"></script-->

    <!-- Rating js-->
    <script src="./assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="./assets/plugins/rating/jquery.barrating.js"></script>

    <!-- P-scroll js -->
    <!--script src="./assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="./assets/plugins/perfect-scrollbar/p-scroll.js"></script-->

    <!-- Horizontalmenu js-->
    <!--script src="./assets/plugins/sidebar/sidebar.js"></script>
    <script src="./assets/plugins/sidebar/sidebar-custom.js"></script-->

    <!-- Eva-icons js -->
    <!--script src="./assets/js/eva-icons.min.js"></script-->

    <!--Internal Apexchart js-->
    <!--script src="./assets/js/apexcharts.js"></script-->

    <!-- Horizontalmenu js-->
    <script src="./assets/plugins/horizontal-menu/horizontal-menu-2/horizontal-menu.js"></script>

    <!-- Internal Map -->
    <script src="./assets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="./assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

    <!-- Internal Chart js -->
    <script src="./assets/plugins/chart.js/Chart.bundle.min.js"></script>

    <!--Internal  index js -->
    <!--script src="./assets/js/index.js"></script>
		<script src="./assets/js/jquery.vmap.sampledata.js"></script-->

    <!-- custom js -->
    <!--script src="./assets/js/custom.js"></script>
    <script src="./assets/js/jquery.vmap.sampledata.js"></script-->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.0/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but vue-app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app">
      <!--App></App-->
      <router-view />
    </div>

    <script type="text/javascript">
      const router = new VueRouter({
        routes: [
          {
            name: "login",
            path: "/login",
            component: httpVueLoader("Login.vue"),
          },
          {
            name: "dashboard",
            path: "/app",
            component: httpVueLoader("Dashboard.vue"),
            children: [
              {
                path: "produto",
                component: { template: "<div>Produto</div>" },
              },
              { path: "vendas", component: { template: "<div>Vendas</div>" } },
            ],
          },
          {
            name: "logout",
            path: "/logout",
            redirect: { name: "login" },
          },
          {
            path: "/",
            redirect: { name: "login" },
          },
        ],
      });

      router.beforeEach((to, from, next) => {
        //store.commit('setLoading', true)

        //console.log(to);

        //if (to.meta.requiresAuth){
        const authUser = localStorage.getItem("user-token");

        if (authUser || (to.name && to.name.toLowerCase() == "login")) {
          if (
            authUser &&
            to.redirectedFrom &&
            to.redirectedFrom.toLowerCase() == "/logout"
          ) {
            console.log("LOGOUT");
            localStorage.removeItem("user-token");
            next({ name: "login" });
          }
          if (authUser && to.name && to.name.toLowerCase() == "login")
            next({ name: "dashboard" });
          // indo para login já logado
          else next();
        } else {
          next({ name: "login" });
        }
      });

      let vue = new Vue({
        el: "#app",
        router: router,
      });
    </script>
  </body>
</html>
