<template>
  <div>
    <div class="page">
      <div class="container-fluid">
        <div class="row no-gutter">
          <!-- The image half -->
          <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent">
            <div class="bg-img-left">
              <div class="bg-img-left-backdrop"></div>
            </div>

            <!-- <div class="row wd-100p mx-auto text-center"> -->
            <!-- <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p"> -->
            <!-- <img
                  src="./assets/img/officebg.jpg"
                  class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto"
                  alt="logo"
            />-->
            <!-- </div> -->
            <!-- src="./assets/img/media/login.png" -->
            <!-- </div> -->
          </div>
          <!-- The content half -->
          <div class="col-md-6 col-lg-6 col-xl-5 bg-white">
            <div class="login d-flex align-items-center py-2">
              <!-- Demo content-->
              <div class="container p-0">
                <div class="row">
                  <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                    <div class="card-sigin">
                      <!-- <div class="mb-5 d-flex">
                        <a href="index.html">
                          <img
                            src="./assets/img/logoescuro.png"
                            class="sign-favicon ht-40"
                            alt="logo"
                          />
                        </a>
                      </div>-->
                      <div class="card-sigin">
                        <div class="main-signup-header">
                          <!-- <h2>Welcome back!</h2>
                          <h5 class="font-weight-semibold mb-4">Please sign in to continue.</h5>-->
                          <img
                            src="./assets/img/logoescuro.png"
                            class="sign-favicon ht-40 img-title"
                            alt="logo"
                          />
                          <form @submit.prevent @submit="onsubmit" >
                            
                            <div class="form-group">
                              <label>Email</label>
                              <input
                                v-model="email"
                                class="form-control"
                                placeholder="Entre com seu email"
                                type="email"
                              />
                            </div>
                            <div class="form-group">
                              <label>Senha</label>
                              <input
                                v-model="password"
                                class="form-control"
                                placeholder="Entre com sua senha"
                                type="password"
                              />
                            </div>
                            <button type="submit" class="btn btn-main-primary btn-block">Logar</button>
                            <!-- @click="onsubmit"  -->
                          </form>
                          <!-- <div class="main-signin-footer mt-5">
                            <p>
                              <a href>Forgot password?</a>
                            </p>
                            <p>
                              Don't have an account?
                              <a href="page-signup.html">Create an Account</a>
                            </p>
                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
          <!-- End -->
        </div>
      </div>
    </div>
    <!-- End Page -->
  </div>
</template>

<script>
//const Vue = require('./vue');
//const VueCryptojs = require('./vue-cryptojs');
//import Vue from 'vue'
//import axios from 'axios'
//import VueCryptojs from 'vue-cryptojs'

//Vue.use(VueCryptojs)

module.exports = {
  name: "login",
  // Assets
  components: {},
  directives: {},
  filters: {},
  // Composition
  mixins: [],
  extends: {},
  provide: {},
  inject: {},
  template: {},
  props: [],
  // propsData: {},
  data() {
    return {
      email: "",
      password: "",
      emailErrors: [],
      passwordErrors: []
    };
  },
  computed: {
    formReady() {
      return !this.emailErrors.length && !this.passwordErrors.length;
    }
  },
  watch: {},
  // Lifecycle Hooks
  beforeCreate() {},
  created() {},
  beforeMount() {},
  mounted() {},
  beforeUpdate() {},
  updated() {},
  activated() {},
  deactivated() {},
  beforeDestroy() {},
  destroyed() {},
  methods: {
    onsubmit() {


      this.emailErrors = this.email ? [] : ["Email is required"];
      this.passwordErrors = this.password ? [] : ["Password is required"];
      if (!this.formReady) {
        return;
      }

      axios
        //.post('http://192.168.1.12:8001/cnotas/autenticacao/logar/',
        .post(
          "https://clustersistemas.ddns.net:8003/cnotas/autenticacao/logar/",
          {
            email: this.email,
            senha: CryptoJS.MD5(this.password).toString()
          }
        )
        .then(response => {
          localStorage.setItem("user-token", response.data.token); // sem usar o Vuex !!!
          localStorage.setItem("empresa", JSON.stringify(response.data.empresa));

          this.$router.push({ name: "dashboard" });

          console.log("Response:" + JSON.stringify(response.data));
        })
        .catch(error => {
          console.log("Erro: " + JSON.stringify(error));
          console.log(error.response.data.msg);
          console.log(error.response.status);
          swal.fire({
            // title: 'Error!',
            text: error.response.data.msg || "erro ao logar",
            icon:'error'
          });
        });

      /*
      this.$store
      .dispatch(AUTH_REQUEST, { username, password })
      .then(() => {
        this.$router.push('/')
      })*/
    }
  },
  // render: {},
  renderError: {}
};
</script>

<style>
@import "./assets/css/style.css";
@import "./assets/css/icons.css";
.img-title {
  margin-bottom: 20px;
}
button[type="submit"] {
  background: #1a67d8;
}

.bg-img-left {
  background-image: url(./assets/img/officebg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: blur(3px);
  width: 100%;
}

.bg-img-left-backdrop {
  width: 100%;
  position: absolute;
  height: 100%;
  background: #1967d859;
}
</style>