<template>

  <vue-tabs :v-model="activeTab" centered class="bootstrap4_error" >
    <v-tab title="Parametros Gerais">
      <keep-alive>
        <conf-empresa :model.sync="empresa" />
      </keep-alive>
      <button @click="envia" > ATUALIZAR </button>
    </v-tab>

    <v-tab title="Contador">
      <conf-contador/>
    </v-tab>

    <v-tab title="Configurações">
      <conf-geral/>
    </v-tab>

  </vue-tabs>


</template>

<script>

Vue.component('conf-empresa', function (resolve, reject){
	vue.$http.get('tema_valex/conf_empresa.html')
	.then(response => {
		resolve({
            template: '<div>' + response.body + //'<button @click="$emit(`update:model`, interno )"> Atualizar </button>'
                                                '</div>',
            props: ['model'],
            data(){
              return {
                interno: Object.assign({}, this.model),
              }
            },
            /*
            watch: {
              model: {
                immediate: true,
                handler:function () { 
                  this._beforeEditingCache = Object.assign({}, this.model);
                  this.interno = this._beforeEditingCache;
                },
              },
            },
            */
		});
    }, response => {
        // error callback
    });
});

Vue.component('conf-contador', function (resolve, reject){
	vue.$http.get('tema_valex/conf_contador.html')
	.then(response => {
		resolve({
            template: '<div>' + response.body + '</div>',
		});
    }, response => {
        // error callback
    });
});


Vue.component('conf-geral', function (resolve, reject){
	vue.$http.get('tema_valex/conf_geral.html')
	.then(response => {
		resolve({
            template: '<div>' + response.body + '</div>'
		});
    }, response => {
        // error callback
    });
});

module.exports =  {
    name: 'configuracoes',
    // Assets
    components: {},
    directives: {},
    filters: {},
    // Composition
    mixins: [],
    extends: {},
    provide: {},
    inject: {},
    template: {},
    props: [],
    // propsData: {},
    data () {
      return {
        activeTab: 'Teste1',
        empresa: {},
        /*
        empresa:{
          "token":"xxx",
	        "idempresa": "xx",
	        "empresa":{
            "empresa": "Empresa Teste",
            "fantasia": "Fantasia Teste",
            "nomeresumido": "Resumido",
            "cnpj": "12345678",
            "ie": "",
            "endereco": "",
            "cidade": "",
            "complemento": "",
            "numero": "",
            "bairro": "",
            "cep": "",
            "estado": "",
            "telefone": "",
            "email": "",
            "site": "",
            "facebook": "",
            "twiter": "",
            "smtp": {
              "servidor": "",
              "usuario": "",
              "senha": "",
              "porta": "",
              "ssl": "",
              "tls": ""
            },
            "fiscal": {
              "nfetoken": "",
              "nfeidtoken": "",
              "ibge_cidade": "",
            },
            "produtos": {
              "casadecimal": ""
            },
            "regiao": {
              "casadecimal_unitario": ""
            },
            "contador": {
              "nome": "",
              "nomeempresa": "",
              "fantasia": "",
              "cnpj": "",
              "inscrestadual": "",
              "crc": "",
              "cpf": "",
              "endereco": "",
              "bairro": "",
              "cidade": "",
              "complemento": "",
              "numero": "",
              "estado": "",
              "cep": "",
              "telefone": "",
              "email": ""
            }
          }
        },
        */
      }
    },

    computed: {},
    watch: {},
    // Lifecycle Hooks
    beforeCreate () {},
    created () {
      this.empresa.empresa = JSON.parse(localStorage.getItem('empresa')) ;
      /*
      axios
      .get('./data/conf.json')
      .then(response => { //this.empresa = Object.assign({}, response.data); console.log( this.empresa ) })
      .catch(error => console.log("Erro: " + JSON.stringify(error)) );
      */
    },
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () { },
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    methods: {
      envia () {
        this.empresa.token = localStorage.getItem('user-token');
        this.empresa.idempresa = this.empresa.empresa.id;
        axios
        //.post('http://192.168.1.12:8001/cnotas/autenticacao/logar/',
        .post(
          "https://clustersistemas.ddns.net:8003/cnotas/empresa/parametros_update/",
          this.empresa
        )
        .then(response => {
          console.log("Response:" + JSON.stringify(response.data));
        })
        .catch(error => {
          console.log("Erro: " + JSON.stringify(error));
        });
      }
    },
    // render: {},
    // renderError: {}

}
</script>

<style>
  @import 'https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css';

    .vue-tabs .nav-tabs > li.active > a{
      font-size:1.5rem;
      color:#343a40;
    }

    .bootstrap4_error .nav {
      display: block;
    }
</style>