<template>
    <v-client-table :data="dataTable" :columns="columns" :options="tableOptions">
      <a style="margin:0px 40px;" slot="beforeLimit" @click="create()" class="btn btn-primary btn-big btn-add"><i class="fas fa-plus"></i></a>
      <template slot="actions" slot-scope="{ row }">
        <div style="width:67px;height:0px">
            <div class='buttons'>
                <button style="padding:0px 10px;font-size: 10px" class="btn btn-sm" @click="edit(row.id)"><i class="fas fa-edit"></i></button>
                <button style="padding:0px 10px;font-size: 10px" class="btn btn-sm" @click="destroy(row.id)"><i class="fas fa-trash"></i></button>
            </div>
        </div>
      </template>
    </v-client-table>
</template>

<script>

Vue.use(VueTables.ClientTable,{} , false, 'bootstrap4', { });

module.exports =  {
    name: 'crud',
    // Assets
    components: {},
    directives: {},
    filters: {},
    // Composition
    mixins: [],
    extends: {},
    provide: {},
    inject: {},
    template: {},
    props: [],
    // propsData: {},
    data () {
      return {
        columns: [],
        tableOptions: {
          texts:{
            limit:"Por Pagina:",
            filter:"Filtro:",
            filterPlaceholder:"Consulta",
            count:"Mostrando {from} até {to} de {count} registros|{count} Registros|Um registro",
            noResults:"Nenhum registro correspondente",
          },
          //theme: "bootstrap4",
          template: {}, //"footerPagination",
          sortIcon: {
              base : 'fa',
              is: 'fa-sort',
              up: 'fa-sort-asc',
              down: 'fa-sort-desc'
          },
          //filterable:["name","email"],
          templates:{
            //anti_fraude:   function(h, row) {if(row.anti_fraude!== null)      return row.anti_fraude ? 'Sim': 'Não'},
          },
          rowClassCallback: function (row) {
            return 'test'
          },
          perPageValues:[5,10,25,50,100],
        },
      }
    },

    computed: {
      dataTable () {
        return [{
          name: 'fullName',
          title: 'tables.headings.name',
          sortField: 'fullName',
          width: '25%',
        }, {
          name: 'email',
          title: 'tables.headings.email',
          width: '30%',
        }, {
          name: 'country',
          title: 'tables.headings.country',
          sortField: 'country',
          width: '25%',
        }, {
          name: 'fullName',
          title: 'tables.headings.name',
          sortField: 'fullName',
          width: '25%',
        }, {
          name: 'email',
          title: 'tables.headings.email',
          width: '30%',
        }, {
          name: 'country',
          title: 'tables.headings.country',
          sortField: 'country',
          width: '25%',
                  }, {
          name: 'email',
          title: 'tables.headings.email',
          width: '30%',
        }, {
          name: 'country',
          title: 'tables.headings.country',
          sortField: 'country',
          width: '25%',
        }, {
          name: 'fullName',
          title: 'tables.headings.name',
          sortField: 'fullName',
          width: '25%',
        }, {
          name: 'email',
          title: 'tables.headings.email',
          width: '30%',
        }, {
          name: 'country',
          title: 'tables.headings.country',
          sortField: 'country',
          width: '25%',
        }]
      },
    },
    watch: {},
    // Lifecycle Hooks
    beforeCreate () {},
    created () {
      let dataTableInside = this.dataTable.length != 0 ? this.dataTable[0] : []
      this.columns=Object.keys(dataTableInside)
      
      var index=this.columns.findIndex(x => x === 'id')
      if(index!=-1)this.columns.splice(index,1);
          
      this.tableOptions.sortable=Object.assign([], this.columns)
      
      this.columns.push('actions')
    },
    beforeMount () {},
    mounted () {},
    beforeUpdate () {},
    updated () { },
    activated () {},
    deactivated () {},
    beforeDestroy () {},
    destroyed () {},
    methods: {},
    // render: {},
    // renderError: {}

}
</script>