
					<div class="row row-sm">
						<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
							<div class="card  box-shadow-0">
								<div class="card-header">
									<h4 class="card-title mb-1">Contador</h4>
								</div>
								<div class="card-body pt-0">
									<form class="form-horizontal">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Razão Social</label>
													<input model="interno.empresa.contator.nomeempresa" type="text" class="form-control" placeholder="contador -> nomeempresa">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Fantasia</label>
													<input model="interno.empresa.contator.fantasia" type="text" class="form-control" placeholder="contador -> fantasia">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>CNPJ</label>
													<input model="interno.empresa.contator.cnpj" type="text" class="form-control" placeholder="contador -> cnpj" >
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label>Inscrição estadual</label>
													<input model="interno.empresa.contator.inscrestadual" type="text" class="form-control" placeholder="contador -> inscrestadual">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Nome contador</label>
													<input model="interno.empresa.contator.nome" type="text" class="form-control" placeholder="contador -> nome" >
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label>CPF</label>
													<input model="interno.empresa.contator.cpf" type="text" class="form-control" placeholder="contador -> cpf">
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label>Registro</label>
													<input model="interno.empresa.contator.crc" type="text" class="form-control" placeholder="contador -> crc">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>CEP</label>
													<input model="interno.empresa.contator.cep" type="text" class="form-control" placeholder="contador -> cep">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Cidade</label>
													<input model="interno.empresa.contator.cidade" type="text" class="form-control" placeholder="contador -> cidade">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>UF</label>
													<input model="interno.empresa.contator.estado" type="text" class="form-control" placeholder="contador -> estado">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label>Bairro</label>
													<input model="interno.empresa.contator.bairro" type="text" class="form-control" placeholder="contador -> bairro">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Endereço</label>
													<input model="interno.empresa.contator.endereco" type="text" class="form-control" placeholder="contador -> endereco">
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Numero</label>
													<input model="interno.empresa.contator.numero" type="text" class="form-control" placeholder="contador -> numero">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Complemento</label>
													<input model="interno.empresa.contator.complemento" type="text" class="form-control" placeholder="contador -> complemento">
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Telefone</label>
													<input model="interno.empresa.contator.telefone" type="text" class="form-control" placeholder="contador -> telefone">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Email</label>
													<input model="interno.empresa.contator.email" type="text" class="form-control" placeholder="contador -> email">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
                    </div>
                    