
					<div class="row row-sm">
						<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
							<div class="card  box-shadow-0">
								<div class="card-header">
									<h4 class="card-title mb-1">Configurações</h4>
								</div>
								<div class="card-body pt-0">
									<form class="form-horizontal">



										<div class="row">
											<div class="col-md-6">
												<div class="card card-body pd-20 border shadow-none">
													<h6 class="card-title mg-b-20">SMTP</h6>
													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label>HOST</label>
																<input model="interno.empresa.smtp.servidor" type="text" class="form-control" placeholder="smtp -> servidor">
															</div>
														</div>
													</div>
													<div class="row">
							
														<div class="col-md-12">
															<div class="form-group">
																<label>Usuario</label>
																<input model="interno.empresa.smtp.usuario" type="text" class="form-control" placeholder="smtp -> usuario">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label>Senha</label>
																<input model="interno.empresa.smtp.senha" type="password" class="form-control" placeholder="smtp -> senha">
															</div>
														</div>
													</div>						
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>Porta</label>
																<input model="interno.empresa.smtp.porta" type="text" class="form-control" placeholder="smtp -> porta">
															</div>
														</div>

														<div class="col-md-6">
															<div class="row  pd-10">
																<label class="ckbox">
																	<input model="interno.empresa.smtp.ssl" type="checkbox">
																	<span>SSL(smtp -> ssl)</span>
																</label>
															</div>
															<div class="row pd-10">
																<label class="ckbox">
																	<input model="interno.empresa.smtp.tls" type="checkbox">
																	<span>TLS(smtp -> tls)</span>
																</label>
															</div>
														</div>
													</div>						
												</div>
											</div>
											<div class="col-md-6">
												
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Decimal Quantidade</label>
															<input model="interno.empresa.produtos.casadecimal" type="text" class="form-control" placeholder="produtos -> casadecimal">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label>Decimal Unitario</label>
															<input model="interno.empresa.regiao.casadecimal_unitario" type="text" class="form-control" placeholder="regiao -> casadecimal_unitario">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="card card-body pd-20 border shadow-none">
														<h6 class="card-title mg-b-20">Conf Cupom Fiscal</h6>
														<div class="row">
															<div class="col-md-12">
																<div class="form-group">
																	<label>Token</label>
																	<input model="interno.empresa.fiscal.nfetoken" type="text" class="form-control" placeholder="fiscal -> nfetoken">
																</div>
															</div>
														</div>
														<div class="row">
								
															<div class="col-md-12">
																<div class="form-group">
																	<label>ID Token</label>
																	<input model="interno.empresa.fiscal.nfeidtoken" type="text" class="form-control" placeholder="fiscal -> nfeidtoken">
																</div>
															</div>
														</div>						
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
