<div class="row row-sm">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">Empresa</h4>
            </div>
            <div class="card-body pt-0">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Razão Social</label>
                                <input v-model="interno.empresa.empresa" type="text" class="form-control" placeholder="empresa">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fantasia</label>
                                <input v-model="interno.empresa.fantasia" type="text" class="form-control" placeholder="fantasia">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CNPJ</label>
                                <input v-model="interno.empresa.cnpj" type="text" class="form-control" placeholder="cnpj" disabled>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Inscrição estadual</label>
                                <input v-model="interno.empresa.ie" type="text" class="form-control" placeholder="ie">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome Resumido</label>
                                <input v-model="interno.empresa.nomeresumido" type="text" class="form-control" placeholder="nomeresumido">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CEP</label>
                                <input v-model="interno.empresa.cep" type="text" class="form-control" placeholder="cep">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Cidade</label>
                                <input v-model="interno.empresa.cidade" type="text" class="form-control" placeholder="cidade">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>IBGE</label>
                                <input v-model="interno.empresa.fiscal.ibge_cidade" type="text" class="form-control" placeholder="fiscal -> ibge_cidade">
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>UF</label>
                                <input v-model="interno.empresa.estado" type="text" class="form-control" placeholder="estado">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Bairro</label>
                                <input v-model="interno.empresa.bairro" type="text" class="form-control" placeholder="bairro">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Endereço</label>
                                <input v-model="interno.empresa.endereco" type="text" class="form-control" placeholder="endereco">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Numero</label>
                                <input v-model="interno.empresa.numero" type="text" class="form-control" placeholder="numero">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Complemento</label>
                                <input v-model="interno.empresa.complemento" type="text" class="form-control" placeholder="complemento">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefone</label>
                                <input v-model="interno.empresa.telefone" type="text" class="form-control" placeholder="telefone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input v-model="interno.empresa.email" type="text" class="form-control" placeholder="email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Facebook</label>
                                <input v-model="interno.empresa.facebook" type="text" class="form-control" placeholder="facebook">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Twitter</label>
                                <input v-model="interno.empresa.twiter" type="text" class="form-control" placeholder="twiter">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Site</label>
                                <input v-model="interno.empresa.site" type="text" class="form-control" placeholder="site">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>