      <!-- main-header opened -->
      <div class="main-header nav nav-item hor-header">
        <div class="container">
          <div class="main-header-left">
            <a class="animated-arrow hor-toggle horizontal-navtoggle"
              ><span></span></a
            ><!-- sidebar-toggle-->
            <a class="header-brand" href="index.html">
              <img
                src="./assets/img/brand/logo-white.png"
                class="desktop-dark"
              />
              <img src="./assets/img/brand/logo.png" class="desktop-logo" />
              <img
                src="./assets/img/brand/favicon.png"
                class="desktop-logo-1"
              />
              <img
                src="./assets/img/brand/favicon-white.png"
                class="desktop-logo-dark"
              />
            </a>
          </div>
          <!-- search -->
          <div class="main-header-right">
            <ul class="nav"></ul>
            <div class="nav nav-item navbar-nav-right ml-auto">
              <div class="nav-link" id="bs-example-navbar-collapse-1">
                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                    <span class="input-group-btn">
                      <button type="reset" class="btn btn-default">
                        <i class="fas fa-times"></i>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-default nav-link resp-btn"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="header-icon-svgs feather feather-search"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <circle cx="11" cy="11" r="8"></circle>
                          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="nav-item full-screen fullscreen-button">
                <a class="new nav-link full-screen-link" href="#"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="header-icon-svgs feather feather-maximize"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                    ></path></svg
                ></a>
              </div>
              <div class="dropdown main-profile-menu nav nav-item nav-link">
                <a class="profile-user d-flex" href=""
                  ><img alt="" src="./assets/img/faces/6.jpg"
                /></a>
                <div class="dropdown-menu">
                  <div class="main-header-profile bg-primary p-3">
                    <div class="d-flex wd-100p">
                      <div class="main-img-user">
                        <img
                          alt=""
                          src="./assets/img/faces/6.jpg"
                          class=""
                        />
                      </div>
                      <div class="ml-3 my-auto">
                        <h6>email@email.com</h6>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item" href=""
                    ><i class="bx bx-user-circle"></i>Profile</a
                  >
                  <a class="dropdown-item" href=""
                    ><i class="bx bx-slider-alt"></i> Configurações Gerais</a
                  >
                  <router-link class="dropdown-item" :to="{name: 'logout'}"><i class="bx bx-log-out"></i> Deslogar</router-link>
                  <!--a class="dropdown-item" href="page-signin.html"
                    ><i class="bx bx-log-out"></i> Deslogar</a
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /main-header -->

      <!--Horizontal-main -->
      <div class="sticky">
        <div class="horizontal-main hor-menu clearfix side-header">
          <div class="horizontal-mainwrapper container clearfix">
            <!--Nav-->
            <nav class="horizontalMenu clearfix">
              <ul class="horizontalMenu-list">
                <li aria-haspopup="true">
                  <a href="index.html" class="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="side-menu__icon"
                      viewBox="0 0 24 24"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z"
                        opacity=".3"
                      />
                      <path
                        d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z"
                      />
                    </svg>
                    Produtos
                  </a>
                </li>

                <li aria-haspopup="true">
                  <a href="index.html" class="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="side-menu__icon"
                      viewBox="0 0 24 24"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z"
                        opacity=".3"
                      />
                      <path
                        d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z"
                      />
                    </svg>
                    Vendas
                  </a>
                </li>

                <li aria-haspopup="true">
                  <a href="index.html" class="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="side-menu__icon"
                      viewBox="0 0 24 24"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z"
                        opacity=".3"
                      />
                      <path
                        d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z"
                      />
                    </svg>
                    Pessoas
                  </a>
                </li>

                <li aria-haspopup="true">
                  <a href="index.html" class="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="side-menu__icon"
                      viewBox="0 0 24 24"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z"
                        opacity=".3"
                      />
                      <path
                        d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z"
                      />
                    </svg>
                    Unidades de medida
                  </a>
                </li>

                <li aria-haspopup="true">
                  <a href="index.html" class="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="side-menu__icon"
                      viewBox="0 0 24 24"
                    >
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z"
                        opacity=".3"
                      />
                      <path
                        d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z"
                      />
                    </svg>
                    Relatorios de saida
                  </a>
                </li>
              </ul>
            </nav>
            <!--Nav-->
          </div>
        </div>
      </div>
      <!--Horizontal-main -->
