
      <!-- main-content opened -->
      <div class="main-content horizontal-content">
        <!-- container opened -->
        <div class="container">
          <router-view />
        </div>
      </div>
      <!-- Container closed -->
